.banner-card{
    width: 100vw;
    height: 70vh;
    position: relative;
    margin-bottom: 3vh;
    background: black;
}
.banner-img{
    width: 100vw;
    height: 70vh;
}
.banner-title{
    color: white;
    position: absolute;
    top: 35vh;
    left: 5vw;
}

.banner-text{
    color: white;
    position: absolute;
    top: 45vh;
    left: 5vw;
    height: 4.5rem;
    overflow: hidden;
    margin-right: 5vw;
}

@media screen and (max-width:400px) {
    .banner-card{
        height: 40vh;
    }
    .banner-img{
        height: 40vh;
    }
    .banner-title{
        top: 14vh;
        left: 5vw;
    }
    .banner-text{
        top: 22vh;
        left: 5vw;
    }
    
}